@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Mitr:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Delius Unicase', cursive;
font-family: 'Mitr', sans-serif; 
Delius Unicase: 400;700
Mitr: 200;300;400;500;600;700*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
  }

body {
    background-color: #344D67;
    color: #ADE792;
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
}

header{
    position: fixed;
    background-color: #344D67;
    width: 100%;
    /* min-height: 15%; */
    top: 0;
    z-index: 2;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: .3rem;
}
.logo {
    /* border: 1px solid rgb(0, 195, 255); */
    
    /* padding-bottom: 0.5rem; */
    /* background-color: pink; */
    display: flex;
    width: 100%;
    margin: auto;
    
}

#G-logo, #L-logo {
    /* border: 1px solid rgb(255, 217, 0); */
    font-family:'Delius Unicase', cursive;
    font-weight: 700;
    font-size: 2rem;
    text-decoration-line: none;
}

#G-logo {
    color: #6ECCAF;
    text-align: right;
    width: 48.5%;
}

#L-logo {
    color: #ADE792;
    text-align: left;
    width: 51.5%;
}

nav{
    display: flex;
    font-size: 1rem;
    width: 100%;
    /* height: 50px; */
    /* margin: auto;  */
    /* padding-bottom: .3rem; */
    
}

#Filmografía, #Cronología {
    width: 50%;
    color: #F3ECB099;
    text-decoration-line: none;
    font-family: 'Mitr', sans-serif;
    /* font-size: 25pt; */
    font-weight: 300;
    /* display: flex; */
}

#Filmografía:hover, #Cronología:hover {
    color: #F3ECB0;
}

#Filmografía{
    padding-left: 1rem;
}
#Cronología{
    padding-right: 1rem;
}


main{
    margin-top: 7rem;
    margin-bottom: 5rem;
    /* display: flex;
    margin: auto;
    width: 100%; */
}

h1 {
    font-family: 'Delius Unicase';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    align-items: center;
    color: #F3ECB0;
    padding-bottom: .3rem;
    /* display: flex; */
    width: 100%;
}

#barra-cyr{
    font-family: 'Mitr', sans-serif;;
    font-weight: 400;
    font-size: .63rem;
    color: #F3ECB099;
    width: 100%;
    display: flex;
    margin: auto;
    padding-bottom: .8rem;
}

#contador, #resultado {
    margin: auto;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

#contador {
    color: #F3ECB099;
    width: 45%;
    text-align: left;
    padding-left: 1.7rem;
}

#resultado {
    width: 55%;
    text-align: right;
    padding-right: 1.7rem;
}

#tarjetas {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: .3rem;
    padding-right: .3rem;
}

.contenedor {
    align-items: center;
    background: #344D67;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    width: 320px;
    box-sizing: border-box;
    border: 2px solid #6ECCAF;
    display: flex;
    margin: auto;
    height: 135px;
}

.imagen {
    width: 30%;
    height: 90%;
    margin: auto; 
    display: flex;
    padding-left: .37rem;
    padding-right: .37rem;
}

#poster {
    width: 100%;
    height: 100%;
    /* height: 55%; */
    border-radius: 10px;
    /* background-color: yellow; */
    object-fit: cover;
}

.texto {
    width: 70%;
    /* background-color: orange; */
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#titulo {
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 600;
    font-size: .84rem;
    /* line-height: 75pt; */
    display: flex;
    align-items: center;
    color: #ADE792;
    margin: auto;
    width: 100%;
    padding-bottom: .7rem;
}

#datos {
    /* background-color: rgb(255, 0, 0); */
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 400;
    font-size: .8rem;
    /* line-height: 34pt; */
    display: flex;
    width: 100%;  
    color: #ADE792;
    margin: auto;
}

/* footer {
    background-color: #6ECCAF; */
    /* position: fixed;
    display: flex;
    width: 100%; */
    /* bottom: 0;
    left: 0;
    right: 0; */
    /* min-height: 8%; */
    
    /* max-height: 15%; */

        /* position: fixed;
        display: flex;
        width: 100%; */
        /* flex-direction: column; */
        /* bottom: 0;
        z-index: 2;
        
        margin: auto;
        
        padding-top: 2rem;
        padding-bottom: .3rem;
} */
footer {
    /* border: 1px solid #ffeb3b; */
    background-color: #6ECCAF;
    /* min-height: 8%; */
    /* max-height: 15%; */
    position: fixed;
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    bottom: 0;
    z-index: 2;
    margin: auto;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

#botones{
    /* width: 80%; */
    display: flex;
    width: 100%;
    /* background-color: blue; */
    margin: auto;
    align-items: flex-end;
}
#bnt-i, #btn-m {
    background-color: #6ECCAF;
    border: none;
}
/*sólo para ver si funciona el botón*/
/* #bnt-i:hover, #btn-m:hover {
    background-color: #ae6ecc;
    border: none;
} */

#boton-m, #boton-i {
    /* width: 40%;
    margin: 0;
    background-color: aqua; */
    /* width: 41%; */
    width: 50%; 
    /* position: fixed; */
    /* bottom: 0; */
}
/* #boton-m {
    left: 0;
} */
/* #boton-i {
    right: 0;
} */
#menu, #inicio {
    /* width: 13%; */
    padding-top: 2%; /*estaba en 3*/
    padding-bottom: 1%;
    width: 34%;
    /* background-color: #6ECCAF; */
}

#menu {
    padding-right: 35%;
    width: 27%;
}

#inicio {
    padding-left: 35%;
    width: 27%;
}

/* #menu:hover, #inicio:hover {
    background-color: #88ff00;
} */
#boton-m, #boton-i {
    /* border: 1px solid rgb(212, 0, 255); */
    /* display: flex; */
    width: 50%;
        /* align-items: center; */
    padding-left: 3rem;
    /* display: none; */

}
#boton-m {
    padding-right: 5rem;
}
#boton-i {
    padding-left: 3rem;
}

#boton-m img, #boton-i img {
    /* border: 1px solid rgb(0, 195, 255); */
    display: flex;
    width: 100%;
    height: 3rem;
    margin: auto;
    padding: 0;
    object-fit: cover;
    /* padding-left: 2rem;
    padding-right: 2rem; */
    
}
/* #boton-m img, #boton-i img */

/* #boton-i {
    border: 1px solid rgb(0, 195, 255);
    display: flex;
    width: 100%;
    height: 3rem;
    margin: auto;
} */
#bnt-i, #btn-m {
    background-color: #6ECCAF;
    border: none;
    /* border: 1px solid gold; */
    /* width: 100%; */
    margin: auto;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    align-items: center;
}

#btn-m:hover > ul {
    display: block;
}
ul, ol {
    list-style: none;
    display: none;
    position: relative;
}
/* #btn-m li {
    font-family: 'Mitr', sans-serif;
    font-weight: 300;
    font-size: 2rem;


    background-color: #6ECCAF;
    color: #344D67;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
} */
#btn-m li {
    font-family: 'Mitr', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    background-color: #6ECCAF;
    color: #344D67;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: flex;
    width: 100%;
    /* text-align: center; */
}
#btn-m li:hover {
    background-color: #344D67; 
    color: #F3ECB0;
}
/* #btn-m > li {
} */
#btn-m li ul {
    display:none;
    position: absolute;
    min-width: 45%; 
}
#btn-m li:hover > ul {
    display: block;
}
#btn-m li ul li {
    position: relative;
}
#uno ul {
    right:-12.8rem;
    bottom:50%;
}
#dos ul {
    right:-8rem;
    bottom:25%;
}
#tres ul {
    right:-6rem;
    bottom:0;
}
#btn-m li ul li ul {
    right:-140px;
    top:0;
}


/* Empiezan Media Queries */

/* MQ SI ES MÁXIMO LOS VALORES ALTOS PRIMERO, SI ES MINIMO LOS VALORES BAJOS PRIMERO
https://www.youtube.com/watch?v=yneuaVjotO8&t=633s

MOBILE 
360*640
TABLET
820*1180 
DESKTOP
1920*1080

@media screen and (min-width: 2000px) {}
@media screen and (max-width: 480px)  {}
@media screen and (min-width: 480px) and (max-width: 780px) {}
@media only screen and (min-width: 480px) {}
@media (min-width:1200px){} */

@media screen and (min-width: 760px) {
    /* .logo {
        
        background-color: yellow;
    }
    #G-logo, #L-logo {
        font-size: 5rem;
    } */
    #barra-cyr{
        font-size: 1rem;
        padding-bottom: 1rem;
    }
    #tarjetas {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1060px) {
    #G-logo, #L-logo {
        font-size: 3rem;
    }
    h1 {
        font-size: 2rem;
    }
    main {
        margin-top: 9rem;
    }
    nav {
        font-size: 1.5rem;
    }
    #barra-cyr{
        font-size: 1rem;
        padding-bottom: 2rem;
    }
    #tarjetas {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (min-width: 1350px) {
    #G-logo, #L-logo {
        font-size: 3rem;
    }
    h1 {
        font-size: 2rem;
    }
    main {
        margin-top: 9rem;
    }
    nav {
        font-size: 1.5rem;
    }
    #barra-cyr{
        font-size: 1.3rem;
        padding-bottom: 2rem;
    }
       
    #contador {
        padding-left: 11rem;
    }
    
    #resultado {
        padding-right: 11rem;
    }
    
    #tarjetas {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}